<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Si el archivo o directorio existe, úsalo
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # De lo contrario, redirige a index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>

# Manejo de archivos estáticos
<FilesMatch "\.(jpg|jpeg|png|gif|css|js|ico|pdf)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
